{% extends 'base.html' %} {% load static %} {% block content %}

<section class="rev_slider_wrapper">
  <div class="rev_slider slider1" data-version="5.0">
    <ul>
      <li
        data-transition="random"
        data-title="Wheel Installation"
        data-thumb="{% static 'img/slides/windshild-autoglass-slider-1.jpg' %}"
      >
        <img
          src="{% static 'img/slides/windshild-autoglass-slider-1.jpg' %}"
          alt=""
          width="1920"
          height="820"
          data-bgposition="center bottom"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
        />

        <div
          class="tp-caption tp-resizeme"
          data-x="left"
          data-hoffset="0"
          data-y="center"
          data-voffset="142"
          data-transform_idle="o:1;"
          data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
          data-splitin="none"
          data-splitout="none"
          data-start="500"
        >
          <!-- <div class="wheel-installation">
                        <h3><a href="">For Wheel</a></h3>
                        <div class="rate">
                            <h1>799</h1>
                            <div class="doller-img">
                                <img src="img/resources/doller.png" class="price-icon" alt="">
                            </div>
                        </div>
                        <h1>Wheel installation</h1>
                        <span class="border"></span>
                        <p>The trusted experts will to keep you safe on the road, It is a long established fact<br> that a reader will be distracted by the AuotoCare.</p>
                    </div> -->
        </div>
      </li>

      <li
        data-transition="random"
        data-title="Auto Repair"
        data-thumb="{% static 'img/slides/windshild-autoglass-slider-2.jpg' %}"
      >
        <img
          src="{% static 'img/slides/windshild-autoglass-slider-2.jpg' %}"
          alt=""
          width="1920"
          height="820"
          data-bgposition="top right"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
        />

        <div
          class="tp-caption tp-resizeme"
          data-x="center"
          data-hoffset="0"
          data-y="center"
          data-voffset="40"
          data-transform_idle="o:1;"
          data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
          data-splitin="none"
          data-splitout="none"
          data-start="500"
        >
          <!-- <span class="banner-h2">One Stop Shop For</span> -->
        </div>
        <div
          class="tp-caption tp-resizeme"
          data-x="center"
          data-hoffset="0"
          data-y="center"
          data-voffset="105"
          data-transform_idle="o:1;"
          data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
          data-splitin="none"
          data-splitout="none"
          data-start="1000"
        >
          <!-- <span class="banner-h1">All the Auto Repairs</span> -->
        </div>
        <div
          class="tp-caption tp-resizeme"
          data-x="center"
          data-hoffset="0"
          data-y="center"
          data-voffset="170"
          data-transform_idle="o:1;"
          data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
          data-splitin="none"
          data-splitout="none"
          data-start="1500"
        >
          <!-- <span class="banner-border"></span>&emsp;<span class="banner-h3">Spares Onwards $49.00</span>&emsp;<span class="banner-border"></span> -->
        </div>
        <div
          class="tp-caption tp-resizeme"
          data-x="center"
          data-hoffset="0"
          data-y="center"
          data-voffset="235"
          data-transform_idle="o:1;"
          data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
          data-splitin="none"
          data-splitout="none"
          data-start="2000"
        >
          <!-- <a href="#" class="aut-cr-btn inverse">Know More</a> &emsp;
                    <a href="#" class="aut-cr-btn">Shop Now</a> -->
        </div>
      </li>

      <li
        data-transition="random"
        data-title="Full Checkup"
        data-thumb="{% static 'img/slides/windshild-autoglass-slider-3.jpg' %}"
      >
        <img
          src="{% static 'img/slides/windshild-autoglass-slider-3.jpg' %}"
          alt=""
          width="1920"
          height="820"
          data-bgposition="center bottom"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
        />

        <div
          class="tp-caption tp-resizeme"
          data-x="right"
          data-hoffset="0"
          data-y="center"
          data-voffset="142"
          data-transform_idle="o:1;"
          data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
          data-splitin="none"
          data-splitout="none"
          data-start="500"
        >
          <!-- <div class="wheel-installation">
                        <h3><a href="">Your Car</a></h3>
                        <div class="rate">
                            <h1>999</h1>
                            <div class="doller-img">
                                <img src="img/resources/doller.png" class="price-icon" alt="">
                            </div>
                        </div>
                        <h1>Complete Checkup</h1>
                        <span class="border"></span>
                        <p>The trusted experts will to keep you safe on the road, It is a long established fact<br> that a reader will be distracted by the AuotoCare.</p>
                    </div> -->
        </div>
      </li>
    </ul>
  </div>
</section>
<!--Start Call To Action Area-->
<section class="call-to-action-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="row">
            <div class="col-md-8">
              <h2>Get First Class Services For Your Vehicle</h2>
            </div>
            <div class="col-md-4">
              <a href="{% url 'contact' %}">Get Free Appoinment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Call To Action Area-->
<!--Start quality service area-->
<section class="quality-service-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="service-content">
          <div class="sec-title text-left">
            <h2>We Providing Convinient &#38; Quality Services</h2>
            <span class="decor"></span>
          </div>
          <p>
            At our car servicing center, we prioritize providing convenient and
            high-quality services to our valued customers. Our main objective is
            to ensure that our customers have a hassle-free and satisfactory
            experience when it comes to servicing their vehicles.
          </p>
          <a class="aut-cr-btn" href="{% url 'windshild' %}">View Services</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End quality service area-->
<!--Start trusted service area-->
<section class="trusted-service-area">
  <div class="container">
    <div class="row">
      <!--Start single item-->
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="single-item">
          <div class="icon-holder">
            <span class="flaticon-social"></span>
          </div>
          <div class="content">
            <h3>100% Transparency</h3>
            <p>
              We ensure that you get a well detailed break-up of each minor
              repair work.
            </p>
          </div>
        </div>
      </div>
      <!--End single item-->
      <!--Start single item-->
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="single-item">
          <div class="icon-holder">
            <span class="flaticon-wrench"></span>
          </div>
          <div class="content">
            <h3>Genuine Spare Parts</h3>
            <p>
              We use authorized genuine spare parts &#38; accessories to ensure
              that your car is properly done.
            </p>
          </div>
        </div>
      </div>
      <!--End single item-->
      <!--Start single item-->
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="single-item">
          <div class="icon-holder">
            <span class="flaticon-map"></span>
          </div>
          <div class="content">
            <h3>Trusted &#38; Quality Service</h3>
            <p>
              You can check in at our workshop where you can just sit &#38;
              relax as we take care of your car.
            </p>
          </div>
        </div>
      </div>
      <!--End single item-->
    </div>
  </div>
</section>
<!--End trusted service area-->
<!--Start best service area-->
<section class="best-service-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-bg"></div>
      </div>
    </div>
    <div class="sec-title large-title text-center">
      <h2>Our Best Services</h2>
      <span class="decor"></span>
    </div>
    <div class="row our-best-service-items">
      <!--Start single item-->
      {% for rs in services %}
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-item">
          <div class="img-holder">
            <img src="{{ rs.image.url }}" alt="{{ rs.alt }}" />
          </div>
          <div class="overlay">
            <div class="img-holder">
              <img src="{{ rs.image.url }}" alt="{{ rs.alt }}" />
            </div>
            <!-- /.img-holder -->
            {% comment %}
            <div class="icon-holder">
              <span class="flaticon-float"></span>
            </div>
            {% endcomment %}
            <div class="content">
              <a href="{{ rs.get_absolute_url }}"><h3>{{ rs.title }}</h3></a>
              <p>{{ rs.short_detail }}</p>
              <a href="{{ rs.get_absolute_url }}"
                >Read More<i class="fa fa-caret-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
          <div class="title clearfix">
            {% comment %}
            <div class="icon-holder">
              <span class="flaticon-float"></span>
            </div>
            {% endcomment %}
            <h3>{{ rs.title }}</h3>
            <div class="go-top-icon">
              <a href="{{ rs.get_absolute_url }}"
                ><span class="flaticon-up-arrow"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--End single item-->
    </div>
  </div>
</section>
<!--End best service area-->

<!--Start gallery v2 area-->
<section class="gallery-v2-area grid-layout">
  <div class="container">
    <div class="row"></div>
    <div class="sec-title large-title text-center">
      <h2>Our Work</h2>
      <span class="decor"></span>
    </div>
    <div class="row gallery-content filter-layout" data-filter-class="filter">
      <!--Start single gallery item-->
      {% for rs in portfolio %}
      <div class="col-md-4 single-filter-item car engine wheel">
        <div class="single-gallery-item">
          <div class="img-holder">
            <img src="{{ rs.image.url }}" alt="{{ rs.alt }}" />
            <div class="overlay">
              <div class="image-view">
                <div class="icon-holder">
                  <a href="{{ rs.image.url }}" class="fancybox"
                    ><span class="flaticon-zoom-in-button"></span
                  ></a>
                </div>
              </div>
              <div class="title">
                <h3>{{ rs.title }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--End single gallery item-->
    </div>
  </div>
</section>
<!--End gallery v2 area-->

<!--Start free appoinment area-->
<!--Start contact area-->
<section class="contact-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="contact-form">
          <div class="sec-title text-left">
            <h1>Send Message Us</h1>
            <span class="decor"></span>
          </div>
          <form method="POST" action="{% url 'home:home' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="name" placeholder="Your Name*" />
              </div>
              <div class="col-md-6">
                <input type="text" name="email" placeholder="Email Address*" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="phone" placeholder="Phone" />
              </div>
              <div class="col-md-6">
                <input type="text" name="subject" placeholder="Subject*" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <textarea name="message" placeholder="Message*"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End contact area-->
<!--End free appoinment area-->
<!--Start Brand area-->
{% comment %}
<section class="brand-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="brand">
          <!--Start single item-->
          <div class="single-item">
            <a href="#"
              ><img src="img/brand/1.png" alt="Awesome Brand Image"
            /></a>
          </div>
          <!--End single item-->
          <!--Start single item-->
          <div class="single-item">
            <a href="#"
              ><img src="img/brand/2.png" alt="Awesome Brand Image"
            /></a>
          </div>
          <!--End single item-->
          <!--Start single item-->
          <div class="single-item">
            <a href="#"
              ><img src="img/brand/3.png" alt="Awesome Brand Image"
            /></a>
          </div>
          <!--End single item-->
          <!--Start single item-->
          <div class="single-item">
            <a href="#"
              ><img src="img/brand/4.png" alt="Awesome Brand Image"
            /></a>
          </div>
          <!--End single item-->
          <!--Start single item-->
          <div class="single-item">
            <a href="#"
              ><img src="img/brand/5.png" alt="Awesome Brand Image"
            /></a>
          </div>
          <!--End single item-->
          <!--Start single item-->
          <div class="single-item">
            <a href="#"
              ><img src="img/brand/6.png" alt="Awesome Brand Image"
            /></a>
          </div>
          <!--End single item-->
        </div>
      </div>
    </div>
  </div>
</section>
{% endcomment %}
<!--End Brand area-->

{% endblock content %}
